{% extends 'base2.html' %}

{% load static %}

{% block content%}

<head>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard2.css' %}">
  <title>My Dashboard | FX Pro</title>
</head>

  <!-- About us -->
  <div class="dashboard">
    <div class="user">
      <div id="menuButton" onclick="openNav()"><i class="fas fa-bars"></i></div>

      <div class="user-icon">
        <div class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg></div>
        <p class="username">Welcome <strong>{{ user.first_name}}</strong></p>
      </div>
    </div>
    <div class="balance-group">

      <div class="balance">
        <div class="amount-group">
          <div class="amount-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
              <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
            </svg>
          </div>
          <div class="amount">${% if user.balance.account_balance == "" %}0.00
            {% else %} 
            {{ user.balance.account_balance }}
            {% endif %}
            <div class="amount-type">
              <p>Account Balance</p>
            </div>
          </div>
        </div>
      </div>

      <div class="balance">
        <div class="amount-group">
          <div class="amount-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
              <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
            </svg>
          </div>
          <div class="amount">${% if user.balance.account_balance == "" %}0.00
            {% else %} 
            {{ user.balance.bonus_balance }}
            {% endif %}
            <div class="amount-type">
              <p>Bonus Balance</p>
            </div>
          </div>
        </div>
      </div>

      <div class="balance">
        <div class="amount-group">
          <div class="amount-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
              <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
            </svg>
          </div>
          <div class="amount">$
            {% if user.balance.account_balance == "" %}0.00

            {% else %} 
            {{ user.balance.profit_balance }}

            {% endif %}
            <div class="amount-type">
              <p> Profit Balance</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="widgets">
      <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div id="tradingview_0087f"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BITSTAMP-BTCUSD/" rel="noopener" target="_blank"><span class="blue-text"></span></a> </div>
      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget(
      {
      "width": "100%",
      "height": 610,
      "symbol": "BITSTAMP:BTCUSD",
      "interval": "1",
      "timezone": "Etc/UTC",
      "theme": "light",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "allow_symbol_change": true,
      "container_id": "tradingview_0087f"
    }
      );
      </script>
    </div>
    <!-- TradingView Widget END -->
    
    
    </br></br>
    
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/COINBASE-BTCUSD/" rel="noopener" target="_blank"><span class="blue-text"></span></a> </div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
      {
      "symbol": "COINBASE:BTCUSD",
      "width": "100%", 
      "height": 220,
      "locale": "en",
      "dateRange": "12m",
      "colorTheme": "light",
      "trendLineColor": "#37a6ef",
      "underLineColor": "#e3f2fd",
      "isTransparent": false,
      "autosize": false,
      "largeChartUrl": ""
    }
      </script>
    </div>
    <!-- TradingView Widget END -->
    
    </br></br>
    
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text"></span></a> </div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
      {
       "width": "100%", 
      "height": 450,
      "symbolsGroups": [
        {
          "name": "Indices",
          "originalName": "Indices",
          "symbols": [
            {
              "name": "OANDA:SPX500USD",
              "displayName": "S&P 500"
            },
            {
              "name": "OANDA:NAS100USD",
              "displayName": "Nasdaq 100"
            },
            {
              "name": "FOREXCOM:DJI",
              "displayName": "Dow 30"
            },
            {
              "name": "INDEX:NKY",
              "displayName": "Nikkei 225"
            },
            {
              "name": "INDEX:DEU30",
              "displayName": "DAX Index"
            },
            {
              "name": "OANDA:UK100GBP",
              "displayName": "FTSE 100"
            }
          ]
        },
        {
          "name": "Commodities",
          "originalName": "Commodities",
          "symbols": [
            {
              "name": "CME_MINI:ES1!",
              "displayName": "E-Mini S&P"
            },
            {
              "name": "CME:6E1!",
              "displayName": "Euro"
            },
            {
              "name": "COMEX:GC1!",
              "displayName": "Gold"
            },
            {
              "name": "NYMEX:CL1!",
              "displayName": "Crude Oil"
            },
            {
              "name": "NYMEX:NG1!",
              "displayName": "Natural Gas"
            },
            {
              "name": "CBOT:ZC1!",
              "displayName": "Corn"
            }
          ]
        },
        {
          "name": "Bonds",
          "originalName": "Bonds",
          "symbols": [
            {
              "name": "CME:GE1!",
              "displayName": "Eurodollar"
            },
            {
              "name": "CBOT:ZB1!",
              "displayName": "T-Bond"
            },
            {
              "name": "CBOT:UB1!",
              "displayName": "Ultra T-Bond"
            },
            {
              "name": "EUREX:FGBL1!",
              "displayName": "Euro Bund"
            },
            {
              "name": "EUREX:FBTP1!",
              "displayName": "Euro BTP"
            },
            {
              "name": "EUREX:FGBM1!",
              "displayName": "Euro BOBL"
            }
          ]
        },
        {
          "name": "Forex",
          "originalName": "Forex",
          "symbols": [
            {
              "name": "FX:EURUSD"
            },
            {
              "name": "FX:GBPUSD"
            },
            {
              "name": "FX:USDJPY"
            },
            {
              "name": "FX:USDCHF"
            },
            {
              "name": "FX:AUDUSD"
            },
            {
              "name": "FX:USDCAD"
            }
          ]
        }
      ],
      "locale": "en"
    }
      </script>
    </div>
    <!-- TradingView Widget END -->
    </div>
  </div>

<!-- Widgets -->

{% endblock %}
